/*

Initial Target: All components are styled to be responsive, and to work primarily on mobile devices. The app is designed to be used on mobile devices and is not optimized for desktop use.

Styles for this component are
1.articles_list - the main container
2.articles_list_item - the individual articles
*/
@media (max-width: 768px) {
  .articles_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .articles_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #282c34;
    border-radius: 0.5rem;
  }
}
